body{
    padding:0px;
    margin:0px;
    background-color: black;
    font-family: "Times New Roman", Times, serif;
}

.flexOne{
    flex:1;
}

.flexTwo{
    flex:2;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    max-width: 40vw;
    display: flex;
    margin:0 auto;
    padding:0 15px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
@media only screen and (max-device-width:880px) {
    .mainContainer{
        width:40vw;
        padding:0 20px;
    }
    .right {
        width: 100%;
    }
    .myDetailsContainer{
        width: auto;
    }
}
@media only screen and (max-device-width:500px) {
    .menu,.mainContainer,.right{
        width: 100%;
    }
   
}

.myDetailsContainer{
    display: flex;
}

.profilePic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.experienceContainer{
    margin-left: 2rem;
}

.descriptionContainer{
    display: flex;
    margin-bottom: 2rem;
}

.leftContainer{
    margin-left: 1rem;
}

.divider{
    border:1px solid black;
    width:100%
}

h1,
h3,
h5,
h4 {
    font-weight: bold;
    line-height: 0.8;
}
h3 ,h5{
    line-height: 0.5;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

li{
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;  
}
p {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.highlight {
    color: #05a794;
    font-weight: 900;
}
